/* Take it steady */
/* You will get there */

.top {
    display:block;
    background-color: #1F2937;
    color:#E5E7EB;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:100px;
    /*surely theres an easier way to do that */
    font-size:18px;
    max-height:500px;
}
h1 {
    font-size:48px;
    color:#f9FAf8;
    font-weight:bolder;
}    
.nav {
   display:block; 
   justify-content:flex-end;
   margin-bottom:100px;
}
.logo {
    display:flex;
    margin-right:auto;
    font-size: 24px;
    color:#f9FAf8;
    }   
.headertxt {
    display:inline-block;
    min-height:100%;
    width:400px;
}
.bigimg {
    display: flex;
    height:300px;
    width:fit-content;
    min-height:100%;
}
ul {
    list-style-type: none;
    display:flex;
    margin:0;
    padding:0;
    gap:16px;
}
.awesome {
    display:flex;
    justify-content:space-between;
}
button {
    background-color:#3882F6;
    color:white;
    border-radius:25px;
    padding:10px;
    width:100px;
    
}
/*you had just added nav bar to top via margin-bottom */
.middle {
display:flex;
justify-content:center;
}
h2 {
    display:flex;
    justify-content:center;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    
}
.img-wrapper {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center;
  }
.infocard {
    width:200px;
    margin:0 10px;
    text-align:center;
    border:10px rgb(12, 224, 207) solid;
    padding-bottom:0px;
    border-radius:25px;
}
/*bottom this way! */
.bottom {
    background-color:#E5E7EB;
    font-size:36px;
    padding:200px;
    
    
}
.Thor {
    display:flex;
    align-self:flex-end;
    justify-content:end;
    font-weight:bold;
}

